<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmPractice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE3AFC431F59D07B0053E51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3AFC571F59D07B0053E51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3AFC621F59D07B0053E51B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
